h1{
    color: black;
    text-align: center;
    background-color: #FFFAF0;
}
body{
    background-color: blue;
    text-decoration: none;
}

ul{
    list-style-type: none;
    background-color:  #FFFAF0;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

li{
    float: left;
}

li a{
    display: block;
    color: black;
    text-align: center;
    padding: 15px;
    text-decoration: none;
}

li a:hover{
    background-color: black;
    color: white;
}