body{
    background-color: blanchedalmond;
    text-align: center;
}
h1{
    color: blue;
    text-align: center;
    background-color: bisque;
    margin: 20px 40 px;
}
a:link{
    color:  black;
}
a:visited{
    color: brown;
}
button{
    text-align: center;
    margin: 20px 40px;
    border: 40px 20px;
    width: 300px;
    height: 30px;
    background-color: white;
    font-size: smaller;
}